@charset "utf-8";


/* basic */
.specials_page{position:relative;background-color:#efefef;}

.specials_page .specials_title{padding:20px;background-color:#fff;}
.specials_page .specials_title .title{margin-bottom:12px;font-size:20px;color:#38474f;font-weight:500;}
.specials_page .specials_title .date{font-size:14px;}
.specials_page .img_box{position:relative;}
.specials_page .img_box img{display:block;width:100%;}
.specials_page .img_box .select_img{width: 412px;position: absolute;top: 1144px;left: 72px;float: left;}


.specials_page .specials_info_wrap{position:absolute;bottom:44px;left:50%;width:860px;margin-left:-430px;}
.specials_page .specials_info_wrap.bottom2{bottom:80px;}
.specials_page .specials_info_wrap.bottom3{bottom:64px;}
.specials_page .specials_info_wrap.bottom4{left:938px;bottom:1217px;}
.specials_page .specials_info_wrap.bottom5{bottom:57px;}
.specials_page .specials_info_wrap.bottom6{bottom:223px;}
.specials_page .specials_info_wrap.bottom7{bottom:217px;}
.specials_page .specials_info_wrap.type2{left:70px;width:536px;margin-left:0;}
.specials_page .specials_info_wrap.type3{left:70px;bottom:55px;width:536px;margin-left:0;}
.specials_page .specials_info_wrap.type4{width:880px;margin-left:-440px;}
.specials_page .specials_info_wrap.type5{left:232px;bottom:1214px;width:536px;margin-left:0;}
.specials_page .specials_info_wrap.type6{width:916px;margin-left:-458px;}
.specials_page .specials_info_wrap:after{display:block;content:'';clear:both;}
.specials_page .specials_info_area{float:right;width:416px;}
.specials_page .specials_info_area:first-child{float:left;}

.specials_page .specials_info_area.margin_area1{margin-left: -6px;}
 .specials_page .specials_info_area.margin_area2{margin-right: -6px;}
   .specials_page .specials_info_area.margin_area3{margin-right: -13px;}

.specials_page .specials_info_wrap.type2 .specials_info_area{width:100%;}
.specials_page .specials_info_wrap.type3 .specials_info_area{width:100%;}
.specials_page .specials_info_wrap.type5 .specials_info_area{width:100%;}

.specials_page .specials_info{position:relative;padding:17px 11px;border:1px solid #7d7d7d;background-color:#fff;}
.specials_page .specials_info>p{position:absolute;top:-22px;left:-1px;padding:0 10px;background-color:#717171;font-size:14px;color:#fff;line-height:22px;}
.specials_page .specials_info .form_group .form_field:after{display:none;}
.specials_page .specials_info .prd_name .sel_box{width:392px;}
.specials_page .specials_info .prd_size .sel_box{width:60px;}
.specials_page .specials_info.type4 .prd_size .sel_box{width:125px;}
.specials_page .specials_info.type6 .prd_size .sel_box{width:125px;}
.specials_page .specials_info.type2 .prd_size .sel_box{width:324px;}
.specials_page .specials_info .prd_count .sel_box{width:60px;}
.specials_page .specials_info.type4 .prd_count .sel_box{width:125px;}
.specials_page .specials_info.type6 .prd_count .sel_box{width:125px;}

.specials_page .specials_info .txt_specials{margin-bottom:10px;font-size:14px;color:#717171;line-height:14px;}

.specials_page .specials_info_wrap.type3 .txt_specials{margin-top:15px;}


.specials_page .specials_info_wrap.type2 .prd_name .sel_box{width:512px;}
.specials_page .specials_info_wrap.type2 .specials_price .prd_name .sel_box{width:150px;}
.specials_page .specials_info_wrap.type2 .prd_size .sel_box{width:60px;}
.specials_page .specials_info_wrap.type2 .prd_count .sel_box{width:60px;}

.specials_page .specials_info_wrap.type3 .prd_name .sel_box{width:444px;}
.specials_page .specials_info_wrap.type3 .specials_price .prd_name .sel_box{width:150px;}
.specials_page .specials_info_wrap.type3 .prd_count .sel_box{width:60px;}

.specials_page .specials_info_wrap.type4 .prd_name .sel_box{width:512px;}
.specials_page .specials_info_wrap.type4 .specials_price .prd_name .sel_box{width:150px;}
.specials_page .specials_info_wrap.type4 .prd_size .sel_box{width:120px;}
.specials_page .specials_info_wrap.type4 .prd_count .sel_box{width:120px;}

.specials_page .specials_info_wrap.type5 .prd_name .sel_box{width:420px;}
.specials_page .specials_info_wrap.type5 .specials_price .prd_name .sel_box{width:150px;}
.specials_page .specials_info_wrap.type5 .prd_count .sel_box{width:84px;}

.specials_page .specials_info_wrap.type6 .prd_name .sel_box{width:512px;}
.specials_page .specials_info_wrap.type6 .specials_price .prd_name .sel_box{width:150px;}
.specials_page .specials_info_wrap.type6 .prd_size .sel_box{width:323px;}
.specials_page .specials_info_wrap.type6 .prd_count .sel_box{width:60px;}

.specials_page .specials_info .specials_chk{padding:0 15px 15px;border:1px solid #bebebe;background-color:#faf8f7;}
.specials_page .specials_info .specials_chk .form_group .form_field{width:160px;margin:15px 0 0 0;}
.specials_page .specials_info .specials_chk .form_group .form_field .custom_form{padding-right:0;}

.specials_page .specials_info .specials_price{margin-top:10px;}
.specials_page .specials_info .specials_price:after{display:block;content:'';clear:both;}
.specials_page .specials_info .specials_price .form_group{float:left;}
.specials_page .specials_info .specials_price dl{float:left;width:256px;padding:0 10px;margin-left:10px;border:1px solid #bebebe;line-height:32px;}
.specials_page .specials_info.type2 .specials_price dl{width:392px;margin-left:0px}



.specials_page .specials_info_wrap.type2 .specials_price dl{float:left;width:218px;padding:0 10px;margin-left:10px;border:1px solid #bebebe;line-height:32px;}

.specials_page .specials_info_wrap.type3 .specials_price dl{float:left;width:100%;padding:0 10px;margin-left:0;border:1px solid #bebebe;line-height:32px;}

.specials_page .specials_info.type4 .specials_price dl{float:left;width:100%;padding:0 10px;margin-left:0;border:1px solid #bebebe;line-height:32px;margin-top: 10px;}

.specials_page .specials_info.type6 .specials_price dl{float:left;width:100%;padding:0 10px;margin-left:0;border:1px solid #bebebe;line-height:32px;margin-top: 10px;}

.specials_page .specials_info .specials_price dt{float:left;font-size:14px;color:#717171;}
.specials_page .specials_info .specials_price dd{float:right;font-size:14px;color:#717171;}
.specials_page .specials_info .specials_price dd strong{font-weight:300;}
.specials_page .specials_info .btn_wrap{margin-top:10px;}
.specials_page .specials_prd{float:left;width:165px;padding:20px 0 0 10px;}
.specials_page .specials_prd dl{font-size:14px;color:#717171;line-height:22px;}


.specials_page .specials_guide{padding:30px 70px 35px;background-color:#fff;}
.specials_page .specials_guide dl{line-height:22px;}
.specials_page .specials_guide dt{font-size:16px;font-weight:500;color:#38474f;}
.specials_page .specials_guide dd{margin-top:23px;}
.specials_page .specials_guide ul{}
.specials_page .specials_guide ul li{padding-left:6px;font-size:14px;letter-spacing:-1px;text-indent:-6px}
/* basic */






